.inputContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 952px;
  margin: 0 auto;
  row-gap: 12px;
}

.inputForm {
  display: flex;
  gap: 8px;
}

.inputForm button {
  width: 100%;
}

.inputForm input {
  width: 204px;
}

.inputForm div {
  width: 204px;
}

.listContainer {
  margin-top: 100px;
}

.list {
  margin: 0;
  pad: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.listItem {
  margin: 0;
  pad: 0;
  list-style-type: none;
}

.arrList {
  position: relative;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  gap: 10px;
}

.circleTop {
  position: absolute;
  top: -65px;
  left: 13px;
  padding: 0;
}

.circleBottom {
  position: absolute;
  top: 125px;
  left: 10px;
}
